#pgImoveis{
	.escritorio{
		background-image: url('../images/escritorio.jpg');
		background-size:  auto 100%;
	}

	.txt-escritorio{
		padding: 50px 20px;
	}

	.scroll-bottom{
		position: absolute;
		margin-left: -45px;
		margin-top: 80%;	

	}

	.edificio-comercial{
		background-image: url('../images/edificio-comercial.jpg');
		background-size:  auto 100%;
	}

	.galpao-comercial{
		background-image: url('../images/galpao-comercial.jpg');
		background-size:  auto 100%;
		
	}

	.imovel-dentro{
		background-image: url('../images/dentro-imovel.jpg');
		background-size:  auto 100%;
	
	}
}